@import '~styles/base/colors';

.homeView {
  display: flex;
}

.conversationWindow {
  margin: 0;
  padding: 0;
  flex: 1 0 auto;
  background-color: $primary3Color;

  li {
    list-style-type: none;
  }

}
