@import '~styles/base/colors';

.container {
  margin: 1rem;
  padding: 5px;
  width: 660px;
  height: 250px;
  display:inline-block;
  vertical-align: top;
  float: left;
  text-align: center;
}

p {
  margin: 0;
}
