.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 550px;
  margin: 1.5rem auto;
  align-items: stretch;
  overflow: hidden;
}

.mainSection {
  padding: 1rem;
  flex: 1 0 auto;

  display: flex;
  flex-direction: column;
}

.inputs {
  flex: 1 0 auto;
}

.buttonWrapper {
  flex: 0 1 auto;
  align-items: flex-end;
}

.button {
  float: right;
  margin-top: 1rem;
}
