@import '~styles/base/colors';

.title {
  padding-left: 2rem;
  color: $alternateTextColor;
}

.github {
  font-size: 1.9rem;
  color: $primary3Color;

  &:hover {
    color: $alternateTextColor;
  }
}
