@import '~styles/base/_colors';

.list {
  border-right: 1px solid lightgray;
  min-width: 16rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
  overflow: hidden;
  position: relative;
}

.avatar {
  width: 40px;
  height: auto;
  background-color: $accent2Color;
  border-radius: 50%;
}

.truncate {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.itemsWrapper {
  overflow: auto;
  height: 100%;
}
