@import '~styles/base/colors';

.container {
  p {
    text-align: center;
  }
}

.graphsContainer {
  padding: 0 2rem 1rem 2rem;

  p {
    margin: 0;
  }
}

.graph {
  max-width: 5rem;
  margin-bottom: 1rem;
}
