@import '~styles/base/colors';

.container {
  margin-right: 1rem;
  overflow: auto;
  flex: 1;
}

.messageList {
  margin: 0;
  padding: 0 1rem;

  li {
    list-style-type: none;
    margin-bottom: 2rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.owner {
  color: $accent2Color;
  font-size: 0.875rem;

  &.anya {
  }

  &.user {
    text-align: right;
  }
}

.text {
  position: relative;
  color: $primary2Color;
  border-radius: 3px;
  padding: 0.5rem;
  margin-bottom: 0;

  &.anya {
    margin-right: 100px;
    background-color: rgba($accent1Color, 0.4);

    &:before {
      content: ' ';
      position: absolute;
      width: 0;
      height: 0;
      left: 10px;
      top: -20px;
      border: 10px solid;
      border-color: transparent transparent rgba($accent1Color, 0.4) transparent;
    }
  }

  &.user {
    background-color: $accent3Color;
    margin-left: 100px;

    &:before {
      content: ' ';
      position: absolute;
      width: 0;
      height: 0;
      right: 10px;
      top: -20px;
      border: 10px solid;
      border-color: transparent transparent $accent3Color transparent;
    }

  }
}
