@import '~styles/base/colors';

.container {
  margin: 1rem;
  width: 500px;
  display:inline-block;
  vertical-align: top;
  float: left;
}

.messageList {
  margin: 0;
  padding: 0;

  li {
    list-style-type: none;
  }
}

p {
  margin: 0;
  padding: 4px 10px;
  font-size: small;
}

.left {
  margin: .3rem;
  position: relative;
  color: #fff;
  background: #00ACF2;
  border-radius: 10px;
  margin-right: 100px;

}

.right {
  text-align: right;
  color: blue;
  position: relative;
  color: #000;
  background: #EBEFF4;
  border-radius: 10px;
  margin-left: 100px;
}
