.logisticsWizard {
  min-height: 650px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  position: relative;

  padding: 5rem 0;
  overflow: hidden;

  & h1 {
    color: rgb(15, 148, 167);
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 300;
  }

  & p {
    font-weight: 300;
  }

  section {
    width: 40%;

    img {
      width: 100%;
    }
  }
}

.logisticsWizard:after {
  content: '';
  position: absolute;
  left: 0;
  top: 45%;
  width: 150%;
  height: 200%;
  background-color: rgb(255, 255, 255); /* fallback */
  background-color: rgb(15, 148, 167);
  -webkit-transform: rotate(-12deg);
  -moz-transform: rotate(-12deg);
  transform: rotate(-12deg);
  z-index: -10;
}

.button {
  border: 1px solid rgb(15, 148, 167);
}
