.archDiagram {
  position: relative;
  overflow: hidden;
  padding: 7rem 12rem 10rem 12rem;
  background: linear-gradient(to bottom,  rgb(15,148,167) 0%,rgb(5,116,132) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f94a7', endColorstr='#057484',GradientType=0 );

  // TODO: Figure out how to add graph as a background from assets?
  // Update: Posting a question on the React Boilerplat Github Repo.

  & h1 {
    color: rgb(255, 255, 255);
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 300;
    position: relative;
    z-index: 1;
  }
}

.graph {
  display: block;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.diagram {
  position: relative;
  z-index: 2;
}
