// --------------------------------------------
// Hide and show the popup on :hover
// --------------------------------------------
div > div.mapMarkerPopup {
  display: none;
}

div:hover > div.mapMarkerPopup {
  display: block;
}

// --------------------------------------------
// Distribution Center
// --------------------------------------------
.distributionCenter {
  background-color: white;
  border: 4px solid #30a5ff;
  border-radius: 8px;
  width: 16px;
  height: 16px;
  display: inline-block;
  position: absolute;
  left: -8px;
}

.distributionCenter:hover {
  border: 4px solid rgb(221, 90, 90);
}

// --------------------------------------------
// Shipment
// --------------------------------------------
.shipment {
  background-color: #30a5ff;
  border-radius: 12px;
  width: 24px;
  height: 24px;
  display: inline-block;
  position: absolute;
  left: -12px;
  top: -12px;
}

.shipment:hover {
  background-color: rgb(221, 90, 90);
}

.shipment i {
  color: white;
  font-size: 14px;
  width: 14px;
  height: 14px;
  padding: 5px;
}

div.shipment:hover > div.mapMarkerPopup {
  display: inline-block;
  width: 200px;
  position: absolute;
  left: -88px;
  top: 14px;
  z-index: 1000;
}

// --------------------------------------------
// Retailer
// --------------------------------------------
.retailer {
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid #d183a9;
  border-radius: 12px;
  width: 24px;
  height: 24px;
  display: inline-block;
  position: absolute;
  left: -12px;
  top: -12px;
}

.retailer:hover {
  border: 1px solid rgb(221, 90, 90);
}

.retailer i {
  color: #d183a9;
  font-size: 12px;
  width: 12px;
  height: 12px;
  padding-top: 5px;
  padding-left: 6px;
}

.retailer:hover i {
  color: rgb(221, 90, 90);
}
