.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;

  background: rgb(43, 51, 61);
  border-bottom: 12px solid rgb(145, 195, 131);
  width: 100%;

  padding-bottom: 4rem;

  & h4 {
    color: rgb(255, 255, 255);
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 1rem;
  }
}

.gradient {
  height: 2px;
  width: 100%;
  margin-bottom: 2rem;
  background: linear-gradient(to right,  rgb(255,255,255) 0%,rgb(145,195,131) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#91c383',GradientType=1 );
}
