@import '~styles/base/_colors';

.layoutWrapper {
  height: 100%;
}

.mainContainer {
  height: 100%;
  display: flex;
}

.chatContainer {
  flex: 1 0 auto;
}

// ------------------------------------
// Fake Actions Pane
// ------------------------------------
.fakeActionsPane {
  width: 4rem;
  background-color: $primary1Color;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.selected {
  background-color: white;
}

.icon {
  padding: 1rem;
  width: 100%;
  text-align: center;
}
