@import '~styles/base/_colors';

.appBar {
  background-color: $primary2Color;
  height: 3rem;
  display: flex;
}

.logo {
  margin: 0 1rem;
  width: 40px;
  height: auto;
}

.title {
  line-height: 3rem;
  font-size: 1rem;
  color: white;
}

.layoutWrapper {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.mainContainer {
  min-height: 1px;
  height: 100%;
  display: flex;
}

.chatContainer {
  flex: 1;

  // Safari and Firefox fixes
  min-width: 1px;
  position: relative;
}

// ------------------------------------
// Fake Actions Pane
// ------------------------------------
.fakeActionsPane {
  background-color: $primary1Color;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.selected {
  background-color: #3B5D95;
}

.icon {
  padding: 1rem;
  width: 100%;
  text-align: center;
  font-size: 2rem;
}
