@import '~styles/base/_colors';

.layoutWrapper {
  height: 100vh;
}

.mainContainer {
  height: 100%;
  display: flex;
}

.chatContainer {
  flex: 1;
}

// ------------------------------------
// Fake Actions Pane
// ------------------------------------
.fakeActionsPane {
  width: 4.5rem;
  background-color: $primary1Color;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.selected {
  background-color: #3B5D95;
}

.icon {
  padding: 1rem;
  width: 100%;
  text-align: center;
}
